table{
    width: 80%;
    margin: 20px auto;
    border-collapse:collapse;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 207, 207);
}

th, td {
    border: 1px solid #ccc ;
    padding: 10px;
    text-align: center;
}

thead{
background-color: bisque;
color: black;
}

tbody tr:nth-child(even) {
background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #d1ecf1;
}

td:last-child {
    font-weight: bold;
}
